<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>pCloudy Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c9af63">  <td>20/04/23 02:51:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUpSuite(java.lang.String, java.lang.String)[pri:0, instance:com.crm.qa.testcases.testcasesIOSTestAPP.HomePageTestApp@21e360a]">&gt;&gt;setUpSuite</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1179405070</td>   <td></td> </tr>
<tr bgcolor="96bacf">  <td>20/04/23 02:52:29</td>   <td>40482</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestApp.VerifyHomePage_Test()[pri:1, instance:com.crm.qa.testcases.testcasesIOSTestAPP.HomePageTestApp@21e360a]">VerifyHomePage_Test</td> 
  <td>TestNG-tests-1@1179405070</td>   <td></td> </tr>
<tr bgcolor="c9af63">  <td>20/04/23 02:53:08</td>   <td>79064</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.endTest()[pri:0, instance:com.crm.qa.testcases.testcasesIOSTestAPP.HomePageTestApp@21e360a]">&lt;&lt;endTest</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1179405070</td>   <td></td> </tr>
<tr bgcolor="c9af63">  <td>20/04/23 02:53:09</td>   <td>80228</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUpSuite(java.lang.String, java.lang.String)[pri:0, instance:com.crm.qa.testcases.testcasesIOSTestAPP.HomePageTestApp@21e360a]">&gt;&gt;setUpSuite</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1179405070</td>   <td></td> </tr>
<tr bgcolor="96bacf">  <td>20/04/23 02:53:23</td>   <td>94579</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestApp.VerifyChat_Test()[pri:2, instance:com.crm.qa.testcases.testcasesIOSTestAPP.HomePageTestApp@21e360a]">VerifyChat_Test</td> 
  <td>TestNG-tests-1@1179405070</td>   <td></td> </tr>
<tr bgcolor="c9af63">  <td>20/04/23 02:54:31</td>   <td>162620</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.endTest()[pri:0, instance:com.crm.qa.testcases.testcasesIOSTestAPP.HomePageTestApp@21e360a]">&lt;&lt;endTest</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1179405070</td>   <td></td> </tr>
</table>
