<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a365b8">  <td>20/04/06 11:31:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestApp.VerifyChat_Test()[pri:2, instance:com.crm.qa.testcases.testcasesIOSTestAPP.HomePageTestApp@5a56cdac]">VerifyChat_Test</td> 
  <td>TestNG-test=Test-2@825596724</td>   <td></td> </tr>
<tr bgcolor="a365b8">  <td>20/04/06 11:30:05</td>   <td>-75063</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestApp.VerifyHomePage_Test()[pri:1, instance:com.crm.qa.testcases.testcasesIOSTestAPP.HomePageTestApp@5a56cdac]">VerifyHomePage_Test</td> 
  <td>TestNG-test=Test-1@354132093</td>   <td></td> </tr>
<tr bgcolor="68ff82">  <td>20/04/06 11:31:19</td>   <td>-324</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.captureStatus(org.testng.ITestResult)[pri:0, instance:com.crm.qa.testcases.testcasesIOSTestAPP.HomePageTestApp@5a56cdac]">&lt;&lt;captureStatus</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-2@825596724</td>   <td></td> </tr>
<tr bgcolor="68ff82">  <td>20/04/06 11:34:17</td>   <td>177042</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.captureStatus(org.testng.ITestResult)[pri:0, instance:com.crm.qa.testcases.testcasesIOSTestAPP.HomePageTestApp@5a56cdac]">&lt;&lt;captureStatus</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-2@825596724</td>   <td></td> </tr>
<tr bgcolor="68ff82">  <td>20/04/06 11:34:17</td>   <td>177434</td> <td title="&lt;&lt;TestBase.cleanUp()[pri:0, instance:com.crm.qa.testcases.testcasesIOSTestAPP.HomePageTestApp@5a56cdac]">&lt;&lt;cleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@95396809</td>   <td></td> </tr>
</table>
